@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

.top-bar {
  display: flex;
  min-height: 90px;
  background: #000;
  color: #ebebeb;
  align-items: center;
  flex-wrap: wrap;
}
.top-bar__nav-toggle {
  margin: 0px 100px;
  display: inline-block;
  color: #ebebeb;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 50px;
  min-width: 55px;
  text-align: center;
  transition: 0.25s;
}
.top-bar__nav-toggle:focus {
  outline: none;
  transform: scale(1.1);
}
.top-bar__brand {
  color: #ebebeb;
  text-decoration: none;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  transition: 0.25s;
}
.top-bar__contact {
  margin-left: auto;
}
.top-bar__contact a {
  color: #ebebeb;
  text-decoration: none;
  font-size: 20px;
  margin-right: 30px;
}
.top-bar__social {
  display: flex;
  height: 90px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-right: 110px;
  transition: 0.25s;
}
.top-bar__social a {
  color: #ebebeb;
  font-size: 35px;
}
@media (max-width: 1000px) {
  .top-bar__nav-toggle {
    margin-right: 0;
  }
  .top-bar__brand {
    flex: 1;
  }
  .top-bar__contact {
    display: none;
  }
  .top-bar__social {
    margin-left: auto;
  }
}
@media (max-width: 700px) {
  .top-bar__nav-toggle {
    margin-left: 20px;
  }
  .top-bar__social {
    margin-right: 20px;
  }
}
.top-bar__nav {
  width: 100%;
  background: #000;
  transition: 0.25s;
  max-height: 400px;
  overflow: hidden;
}
.top-bar__nav.collapsed {
  max-height: 0;
  min-height: 0;
}
.top-bar__nav-list {
  list-style: none;
  padding: 0;
}
.top-bar__nav-list li {
  padding: 1rem;
  text-align: center;
}
.top-bar__nav-list a {
  color: #ebebeb;
  text-decoration: none;
  font-size: 1.6rem;
  display: inline-block;
  padding: 0.4rem;
  transition: 0.25s;
  border-bottom: 2px solid transparent;
}
.top-bar__nav-list a:hover {
  transform: scale(1.2);
  filter: brightness(140%);
  border-bottom: 2px solid #ebebeb;
}

.infos {
  position: relative;
  height: 50px;
}
.infos span {
  width: 50px;
  height: 7px;
  position: absolute;
  background: #ebebeb;
  transform: translate(-50%, -50%);
  left: 50%;
  border-radius: 3px;
}
.infos span:nth-child(1) {
  top: 20%;
  transition: top 0.125s 0.25s, transform 0.125s;
}
.infos span:nth-child(2) {
  top: 50%;
  transition: top 0.125s 0.25s, transform 0.125s;
}
.infos span:nth-child(3) {
  top: 80%;
  transition: top 0.125s 0.25s, transform 0.125s;
}
.infos.closed span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: top 0.125s, transform 0.125s 0.25s;
}
.infos.closed span:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: top 0.125s, transform 0.125s 0.25s;
}
.infos.closed span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: top 0.125s, transform 0.125s 0.25s;
}

/* ANIMAÇÃO LOGO */
.home-sigla-mov {
  width: 300px;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

.top-bar__brand {
  font-size: 48px;
  color: #ffffff;
  opacity: 0;
  transform-style: preserve-3d;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

#letram {
  animation-name: fade-in, rotate;
  animation-delay: 0s;
}

#letrap {
  animation-name: fade-in, rotate;
  animation-delay: 1,2s;
}

#letram {
  animation-name: fade-in, rotate;
  animation-delay: 1s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }

}

/* ----- */